html 
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*, *:before, *:after 
  -webkit-box-sizing: inherit
  -moz-box-sizing: inherit
  box-sizing: inherit
  

body 
  margin: 0 

.padding-wrapper

  @media screen and (max-width: 600px)
    padding: 0 15px

.navbar 
  height: 80px
  background-color: #000000  
   
  @media screen and (max-width: 600px)
    width: 812px
    height: 62px
    max-width 100%

.logo 
  width: 124px
  height: 38px
  margin: 21px 20px
  
  @media screen and (max-width: 600px)
    margin: 15px 12px


.text-title
  width: 140px
  height: 31px
  color: #323031
  font-family: Lato
  font-size: 25px
  font-weight: 400
  margin-bottom: 12px
  margin-top: 50px
  display: block
  
  @media screen and (max-width: 600px)
    width: 112px;
    height: 25px;
    margin-bottom: 2px
    margin-top: 30px


.input 
  width: 873px
  height: 46px
  border: 1px solid #707070
  background-color: #ffffff
  margin-bottom: 40px
  padding: 6px
  
  @media screen and (max-width: 600px)
    width: 345px;
    max-width: 100%
    height: 33px;
    margin-bottom: 30px

 .title-text 
  display: none

  @media screen and (max-width: 600px)
    display: inherit
    color: #323031;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
hr 
  display: none

  @media screen and (max-width: 600px)
    display: inherit
    width: 345px;
    max-width: 100%
    color: #323031;
    margin-top: 0px

.content-container
  display: flex 
  justify-content: center   
  width: 1336px
  flex-wrap: wrap
  margin: 0 auto
  max-width: 100%

.search-container
  width: 1336px
  max-width: 100%
  margin: 0 auto

.card
  width: 430px
  height: 471px
  position relative
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35)
  background-color: #ffffff   
  margin-right: 15px
  margin-bottom: 15px

  @media screen and (max-width: 600px)
    width: 344px;
    height: 244px;
    margin-top: 16px
    margin-right: 0
  

.flex-container
  display: flex
  justify-content: space-between

.card-name 
  width: 149px
  height: 31px
  opacity: 0.75
  color: #323031
  font-family: Lato
  font-size: 25px
  font-weight: 400
  padding: 10px
  margin: 15px

  @media screen and (max-width: 600px)
    width: 90px;
    height: 19px;
    font-size: 15px;
    margin-left: 10px
    margin-top: 5px


.card-date 
  width: 128px
  height: 31px
  color: #323031
  font-family: Lato
  font-size: 25px
  font-weight: 400
  padding: 9px
  margin: 15px

  @media screen and (max-width: 600px)
    width: 77px;
    height: 19px;
    font-size: 15px;
    margin-right: 9px
    margin-top: 5px
  

.card-text 
  color: #323031
  font-family: Lato
  font-size: 45px
  font-weight: 400 
  margin-top: 14px
  padding-right: 71px
  padding-left: 7px 
  

  @media screen and (max-width: 600px)
    width: 279px
    height: 61px
    font-size: 25px
    margin-left: 7px
    margin-top: 19px


a.button
  
  color: #ffffff
  font-family: Lato
  font-size: 25px
  font-weight: 700
  text-decoration: none 
  text-align: center
  line-height: 50px

  @media screen and (max-width: 600px)
    font-size: 15px
    line-height: 28px

a
  width: 154px
  height: 50px
  background-color: #ed2024
  position: absolute
  float: right
  bottom: 30px
  right: 10px

  @media screen and (max-width: 600px)
    width: 100px
    height: 29px
    bottom: 5px


.name-page
  width: 54px
  height: 31px
  position: absolute
  right: 511px
  margin-top: 40px
  color: #323031
  font-family: Lato
  font-size: 25px
  font-weight: 400

  @media screen and (max-width: 600px)
    width: 43px
    height: 25px
    margin-left: 15px
    font-size: 20px
    right: 317px
      
.pagination
  display: flex
  width: 1336px
  max-width: 100%
  margin: 0 auto
  justify-content: flex-end
  padding: 0 15px
  @media screen and (max-width: 600px)
    padding: 0 
  .pagination-select, .pagination-label
    width: 353px
    font-size: 25px
    max-width: 100%
    height: 45px
    background-color: #ffffff
    margin-bottom: 214px
  
